$mobile-width: 480;


@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

.giangday-container {
    .button {
        .add-button {
            background-color: #82AAE3;
            border-radius: 50%;
            height: 50px;
            margin-right: 15px;
        }

        .name {
            font-weight: bold;
        }
    }

    .content {}

    .content-1 {
        display: flex;
        // margin-left: 95px;
        // padding: 10px 20px 10px 0px;
        border-radius: 14px;
        background: #F4F3FF;
        // margin-top: 50px;
        // margin-right: 70px;
        justify-content: center;
        cursor: pointer;

        .left-content-1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            margin-left: -202px;

            .header {
                font-weight: bold;

            }

            .time {
                display: flex;
                // gap: 200px;

                .start {}

                .deadline {}
            }
        }

        .right-content-1 {
            width: 120px;

        }

    }

    .pagnination {
        display: flex;
        justify-content: center;
        margin: 35px 35px 40px 100px;
    }

}

@include mobile() {
    .giangday-container {
        .button {
            .add-button {
                background-color: #82AAE3;
                border-radius: 50%;
                height: 50px;
                margin-right: 15px;
            }

            .name {
                font-weight: bold;
            }
        }

        .content {
            width: 200px;
            margin-left: 34px;
        }

        .content-1 {
            display: flex;
            border-radius: 14px;
            background: #F4F3FF;
            justify-content: center;
            cursor: pointer;
            width: 410px;

            .left-content-1 {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;

                .header {
                    font-weight: bold;
                    font-size: small;
                    width: 105px;
                    margin-left: 140px;
                }

                .time {
                    display: flex;
                    margin-left: 35px;

                    .start {}

                    .deadline {}
                }
            }



            .right-content-1 {
                width: 150px;
                margin-right: -160px;

            }

        }

        .pagnination {
            display: flex;
            justify-content: center;
            margin: 35px 35px 40px 100px;
        }

    }

}