$mobile-width: 480px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

.content-1 {
    display: flex;
    // margin-left: 95px;
    // padding: 10px 20px 10px 0px;
    border-radius: 14px;
    background: #F4F3FF;
    margin-top: 50px;
    justify-content: center;
    cursor: pointer;

    .left-content-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        margin-left: -202px;

        .header {
            font-weight: bold;

        }


        .time {
            display: flex;
            gap: 200px;



            @include mobile {
                gap: 23px;
                width: 191px;
            }

            .start {
                @include mobile {
                    display: flex;
                    width: 171px;
                    height: 68px;
                    flex-direction: column;
                }

                span {
                    @include mobile {
                        width: 73px;
                        font-size: 12px;
                    }
                }
            }

            .deadline {
                @include mobile {
                    display: flex;
                    flex-direction: column;
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }

    .right-content-1 {
        width: 120px;
        display: flex;



        .chart {
            margin-right: 60px;

            .MuiGauge-root {
                width: 120px;

                @include mobile {
                    width: 80px;
                }
            }
        }

        .edit-delete-button {
            display: flex;
            // margin-left: 100px;

            .edit-button-kpi {
                background-color: #F4F3FF;
                border: none;
                margin-right: 7px;
            }

            .delete-button-kpi {
                border: none;
                background-color: #F4F3FF;
            }

            .navigate-button-kpi {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                padding: 0;
                margin: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;

                .fa-arrow-right {
                    font-size: 24px;
                    color: currentColor;
                }
            }


        }
    }

}

@include mobile {
    .content-1 {
        // display: flex;
        // margin-left: 95px;
        // padding: 10px 20px 10px 0px;
        // border-radius: 14px;
        // background: #F4F3FF;
        //margin-top: 50px;
        // margin-right: 70px;
        // justify-content: center;
        // cursor: pointer;
        // width: 400px;

        // margin-left: 30px;


        .left-content-1 {
            // display: flex;
            // flex-direction: column;
            // gap: 10px;
            // justify-content: center;
            // margin: 0px;
            // margin-left: 0px;


            .header {
                font-weight: bold;
                font-size: small;
            }


            .time {
                display: flex;
                gap: 10px;
                font-size: small;

                .start {}

                .deadline {}
            }
        }

        .right-content-1 {
            display: flex;
            width: 205px;


            .chart {
                margin: 0px;

                .MuiGauge-root {
                    width: 83px;

                    svg {
                        width: 80px;
                        height: 80px;
                    }
                }
            }

            .edit-delete-button {
                display: flex;


                .edit-button-kpi {
                    background-color: #F4F3FF;
                    border: none;
                    padding: 0px;
                }

                .delete-button-kpi {
                    border: none;
                    background-color: #F4F3FF;
                    padding: 5px;
                }

                .navigate-button-kpi {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    padding: 0;
                    margin-right: 5px;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    .fa-arrow-right {
                        font-size: 24px;
                        color: currentColor;
                    }
                }


            }
        }

    }
}