.demo-loadmore-list {
    .list-item {
        display: flex;
        align-items: center;

        .ant-list-item-meta {
            flex: 1; // Makes the meta content take up available space
        }

        .item-content,
        .ant-list-item-action {
            margin-left: 10px; // Adjust the margin as needed to move closer to the left
        }
    }
}