.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  background-color: #f0f8ff;
  min-height: 100vh;

  .back-page-button {
    margin-right: 1200px;
    cursor: pointer;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #89ACD6;
      margin-right: 20px;
      overflow: hidden;
      /* Đảm bảo ảnh không tràn ra ngoài khung hình tròn */
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        /* Đảm bảo ảnh căn giữa và điền vào khung hình tròn */
        height: 100%;
        object-fit: cover;
        /* Căn giữa và điều chỉnh kích thước của ảnh để nó lấp đầy khung hình tròn */
      }
    }

    .name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .id {
      font-size: 18px;
      color: #555;
    }
  }

  .info-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .info-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .info-label {
        flex: 1;
        font-size: 14px;
        color: #4682b4;
        margin-right: 10px; // Thêm margin phía bên phải để tạo khoảng cách giữa nhãn và giá trị
      }

      .info-label-edit {
        flex: 1;
        font-size: 14px;
        color: #4682b4;
        margin-right: 35px; // Thêm margin phía bên phải để tạo khoảng cách giữa nhãn và giá trị
      }

      .info-value {
        flex: 2;
        font-size: 14px;
        color: #333;
      }

      .edit-button {
        background-color: transparent;
        border: none;
        color: #4682b4;
        cursor: pointer;
        text-decoration: underline;
        font-size: 12px;

        &:hover {
          color: #4169e1;
        }
      }

      input {
        flex: 2;
        font-size: 14px;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        margin-right: 10px; // Thêm margin phía bên phải để tạo khoảng cách giữa ô input và nút chỉnh sửa
      }
    }

  }
}