$mobile-width: 480;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) { // Điều chỉnh media query cho kích thước mobile
    @content;
        .setting-container{
            .notification-settings{
                width: 100%;
            }

            .event-settings{
                width: 100%;
            }

            .setting-header{
                width: 100%;
            }
        }
  }
}

body {
    font-family: Arial, sans-serif; // Thiết lập font chữ chung
}

.setting-container {
    //padding: 50px 20px 20px 150px;

    .setting-header {
        background-color: #DAE6F7;
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        height: 50px;
        width: 800px;
        margin-bottom: 20px;

        span {
            font-size: 24px;
        }
    }

    .notification-settings,
    .event-settings {
        background-color: #DAE6F7;
        padding: 20px;
        border-radius: 10px;
        width: 800px;
        margin-bottom: 20px;
    }

    .setting-section {
        margin-bottom: 20px;
    }

    .setting-item {
        margin-top: 15px;
        margin-bottom: 20px;

        .setting-description {
            display: flex;
            justify-content: space-between;
            align-items: center;
         

            .setting-label {
                font-family: Arial, sans-serif; // Đảm bảo font chữ nhất quán
                width: 250px; // Đặt chiều rộng cố định cho nhãn văn bản
                display: inline-block;
            }

            .ToggleSwitch {
                width: 60px; // Đặt độ rộng cố định cho nút Toggle
                display: inline-block;
            }

        }
    }

    .separator {
        width: 100%;
        height: 1px;
        background-color: #081C15;
    }
}

@include mobile {} // Kích hoạt mixin mobile
