.app {
    text-align: center;

    .calendar-container {
        display: inline-block;
        margin-top: 20px;

        .react-calendar {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        p {
            margin-top: 10px;
            font-size: 1.2em;
            color: #333;
            //border: 2px solid #333;
            //border-radius: 8px; // Ensure border-radius is applied correctly
            padding: 10px;
            display: inline-block;
            border: none;

            .bold {
                font-weight: bold;
            }
        }
    }
}