.home-container {
    width: 100%;
      .chart-note {
          display: flex;
          gap: 50px;
          .test {
              width: 600px;
              height: 200px;
              border: 1px solid
          }
          .note-container {
              border: 1px solid;
              width: 400px;
            padding: 20px;
          }
      }
      .chart-calender {
          display: flex;
          width: 100%;
          gap: 50px;
          .chart-container {
            border: 1px solid
          }
          .calendar-container {
  
          }
      }
  }