.home-container {
    padding: 30px;


    .home-content {
        .card-class {
            display: flex;
            justify-items: center;
            flex-wrap: wrap;
            gap: 40px;

            @include mobile {
                width: 414px;
                gap: 9px;
                height: 100px;
                width: 100%;
            }

            .card-1 {
                background-color: #0BF4C8;

                width: 18 rem;
                height: 14 rem;


                @include mobile {
                    width: 130px;
                    height: 100px;

                }

                .card-body {
                    height: 100%;

                    .card-title {
                        text-align: center;

                        @include mobile {
                            font-size: 9px;
                        }
                    }

                    .card-text {
                        font-size: 30px;
                        text-align: center;
                        margin: 0px;

                        @include mobile {
                            font-size: 10px;

                        }
                    }

                    .card-img {
                        width: 130px;
                        height: 150px;
                        margin-left: 150px;

                        @include mobile {
                            width: 33px;
                            height: 33px;
                            margin-left: 77px;
                        }
                    }
                }

            }

            .card-2 {
                width: 18 rem;
                height: 14 rem;
                background-color: #C8EE2F;

                @include mobile {
                    width: 130px;
                    height: 100px;

                }

                .card-body {
                    height: 100%;

                    .card-title {
                        text-align: center;

                        @include mobile {
                            font-size: 9px;
                        }
                    }

                    .card-text {
                        font-size: 30px;
                        text-align: center;
                        margin: 0px;

                        @include mobile {
                            font-size: 10px;

                        }
                    }

                    .card-img {
                        width: 130px;
                        height: 150px;
                        margin-left: 150px;

                        @include mobile {
                            width: 33px;
                            height: 33px;
                            margin-left: 77px;
                        }
                    }
                }
            }

            .card-3 {
                width: 18 rem;
                height: 14 rem;
                background-color: #F2A0FF;

                @include mobile {
                    width: 130px;
                    height: 100px;

                }

                .card-body {
                    height: 100%;

                    .card-title {
                        text-align: center;

                        @include mobile {
                            font-size: 9px;
                        }
                    }

                    .card-text {
                        font-size: 30px;
                        text-align: center;
                        margin: 0px;

                        @include mobile {
                            font-size: 10px;

                        }
                    }

                    .card-img {
                        width: 130px;
                        height: 150px;
                        margin-left: 150px;

                        @include mobile {
                            width: 33px;
                            height: 33px;
                            margin-left: 77px;
                        }
                    }
                }
            }
        }
    }

    .kpi-section {
        display: flex;

        margin-top: 30px;
        justify-content: center;

        .chart-calender-project {
            display: flex;
            flex-direction: column;

            .chart-calender {
                display: flex;

                .chart-main {
                    margin: 0px 0px 10px;
                    //border: 1px solid #A8A8A8;
                    border-radius: 8px;
                    justify-content: center;
                    height: 400px;
                }

                .calendar-section {
                    width: 400px;
                    margin-left: 10px;
                    // border: 1px solid #A8A8A8;
                    // border-radius: 8px;
                    margin-right: 10px;
                }
            }
        }
    }


    .home-content {
        .card-class {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;

            .card-1 {
                background-color: #0BF4C8;
            }

            .card-2 {
                background-color: #C8EE2F;
            }

            .card-3 {
                background-color: #F2A0FF;
            }
        }
    }


}