$mobile-width: 480;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}


.navbar-content {
    width: 100%;

    @include mobile {
        margin-bottom: 20px;
        height: 30px;
    }

    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        width: 1110px;

        @include mobile {
            width: 414px;
            padding: 0px;
        }

        .search {
            display: flex;
            align-items: center;
            background-color: #D9E5F7;
            width: 600px;
            height: 36px;
            border-radius: 25px;
            opacity: 0.8;
            padding: 0 20px;
            margin-left: 110px;

            @include mobile {
                height: 30px;
            }

            .input-text {
                margin-left: 10px;
                width: 100%;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                    color: #000000;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    /* Increased font size */
                    height: 100%;
                    /* Make input height match the container */

                    &::placeholder {
                        color: #000000;
                        opacity: 1;
                    }
                }
            }

            .search-logo {
                margin-right: 10px;
            }
        }

        .notifi-profile {
            display: flex;
            align-items: center;
            // margin-left: 175px;


            .profile {
                display: flex;
                align-items: center;
                background-color: #D9E5F7;
                border-radius: 25px;
                /* Match the rounded corners */
                padding: 0 10px;

                .profile-text {
                    color: #2342E5;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 10px;
                    text-align: right;
                }

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: #89ACD6;
                }
            }
        }
    }

    .button {
        padding-left: 10px; 
    }
}